*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header h1{
    text-align: center;
    padding-top: 16px;
}
input.search,
input.newtask{
    font-size: 16px;
    padding: 4px 16px;
    width: 40%;
    border-radius: 12px;
    border: 2px solid gray;
}

input.search:hover,
input.newtask:hover{
    border: 2px solid black;
}

input.search{
    margin-left: 2rem;
    width: 25%;
}

button.newtask{
    padding: 4px 16px;
    margin-left: -5px;
    border-radius: 12px;
    border: 2px solid gray;
    cursor: pointer;
}

button.newtask:hover{
    background: black;
    border: 2px solid black;
    color:white;
}

.list-group{
    width: 50%;
}

.list-group-item{
    border: 2px solid black;
    cursor: pointer;
    position: relative;
}
.list-group-item + .list-group-item:hover{
    color: white;
    background: rgb(0, 174, 255);
}

.list-task > :first-child{
    text-align: center;
}

.left{
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}

.left-2{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

main ul i:hover{
    color: red;
}

.Display{
    display: none;
}

main > button:hover{
    background-color: rgb(216, 124, 124) !important;
}