*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1{
    padding-left: 48px;
    padding-top: 16px;
}

input.edittask,
input.search,
input.newtask{
    font-size: 16px;
    padding: 4px 16px;
    width: 40%;
    border-radius: 12px;
    border: 2px solid gray;
}

input.edittask:hover,
input.search:hover,
input.newtask:hover{
    border: 2px solid black;
}

input.search{
    margin-left: 2rem;
    width: 25%;
}

button.newtask{
    padding: 4px 16px;
    margin-left: -5px;
    border-radius: 12px;
    border: 2px solid gray;
    cursor: pointer;
}

button.newtask:hover{
    background: rgb(147, 194, 215);
    border: 2px solid green;
    color:green;
}

.list-group{
    width: 50%;
}

.list-group-item{
    border: 2px solid black;
    position: relative;
}
.list-group-item + .list-group-item:hover{
    color: white;
    background: rgb(147, 194, 215);
}

.list-task > :first-child{
    text-align: center;
}

main ul i{
    font-size: 20px;
    cursor: pointer;
}

.left-1st{
    font-size: 24px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.left-2nd{
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.hover-red:hover{
    color: rgb(213, 98, 98);
}

.hover-yellow:hover{
    color: rgb(246, 246, 109);
}

.hover-green:hover{
    color: green;
}

main > button:hover{
    background-color: rgb(213, 98, 98) !important;
}